@media (max-width: 500px ) {

    .table.table-striped {
    display: flex;
    font-size: 14px;
    flex-direction: column;
    width: 90%;
    }

    .table td, .table th {
    padding: 2px;
    width: 90%;
    }

    .table th {
        width: 35px;
        padding: 10px;
    }

    .btn {
        padding: 4px;
    }

    .wrapper {
        height: 90%;
    }

}

@media (max-width: 319px) {
    .table td {
        display:flex;
    }
}